.statistics{
    display: flex;
    flex-wrap: wrap; 
}

.statistics .item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 750px){
    .statistics{
        transition: 1s ease;
        font-size: 15px;
    }
}

@media only screen and (max-width: 520px){
    .statistics{
        transition: 1s ease;
        font-size: 12px;
    }
}

@media only screen and (max-width: 430px){
    .statistics{
        transition: 1s ease;
        font-size: 10px;
    }
}