.lobbyRoomContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 40px 0 0 0;
    font-size: 25px;
    padding: 0;
}

.contentLobbyWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.userInfoArea{
    font-weight: bolder;
    display: flex;
}

.logoutBtn{
    box-sizing: border-box;
    margin: 0 0 0 20px;
    background: #cadcff;
    border: 1px solid floralwhite;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.logoutBtn:hover{
    border: 1px solid black;
}